<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="login-page">
        <div class="form">
        <form class="login-form" method="POST" action="login.php">
            <input type="text" placeholder="username" name="login"/>
            <input type="password" placeholder="password" name="pass"/>
            <button>login</button>
            <p class="message">Not registered? <a href="http://localhost/project/master/view/login%20projet/inscription/inscription.html">Create an account</a></p>
        </form>
        </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>