<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styl.css">
    </head>
    <body>
        <div class="login-page">
        <div class="form">
        <form  method="POST" action="inscription.php">
            <input type="text" placeholder="Nom" name="nom"/>
            <input type="password" placeholder="Prenom"  name="prenom"/>
            <input type="date" placeholder="Date de naissance" name="dn"/>
            <input type="text" placeholder="Nom login" name="login"/>
            <input type="text" placeholder="Mot de passe" name="pass"/>
            <button>create</button>
            <p class="message">Already registered? <a href="http://localhost/project/master/view/login_projet/login.html">Sign In</a></p>
        </form>

        </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>