<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styl.css">
    </head>
    <body>
        <div class="login-page">
        <div class="form">
        <form  method="POST" action="inscription.php">
            <input type="text" placeholder="nomEv" name="nomEv"/>
            <input type="date" placeholder="dateEv" name="dateEv"/>
            <input type="text" placeholder="idL"  name="idL"/>
            <input type="number" placeholder="nbpEv" name="nbpEv"/>
            <input type="text" placeholder="pdiscripEv" name="pdiscripEv"/>
            <input type="text" placeholder="imageEv" name="imageEv"/>
            <input type="text" placeholder="discripEv" name="discripEv"/>

            <button>Ajouter</button>
        </form>

        </div>
        </div>
    </body>
</html>